@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*   shared style  */
.text-primary
{
    color: #FF6F0B;
}
.dark1
{
    color: #181818;
}
.dark2
{
    color: #474747;
}
.dark3
{
    color: #757575;
}

/* Shared Button */
.btn-primary
{
    background-color: #FD6E0A;
    font-weight: 700px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
/* shared title */
.about-title
{
    font-weight: bold;
    font-size: 35px;
}
/* Shared Background */
.bg2
{
    background-color: #FFF8F3;
}
.text-al
{
    text-align: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 150px;
    
}
.ntitle
{
    font-weight: 800;
    font-size: 45px;
}
nav ul
{
    display: flex;
    align-items: center;
}
nav ul li
{
    
    list-style: none;
    margin-right: 51px;
    
}
nav li a
{
    text-decoration: none;
    font-size: 20px;
}
.greeting
{
    font-size: 40px;
    font-weight: 600px;
}
.btitle
{
    font-weight: bold;
    font-size: 70px;
}
.b_i
{
    width: 500px;
}
.banner
{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 150px;
}
.content
{
    max-width: 585px;
}
.dev
{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.spara
{
    font-size: 18px;
}
.about
{
    
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}style/style.css
.id
{
    font-weight: bold;
}
.attributes
{
    display: flex;
    justify-content: space-around;
}
.hp
{
    max-width: 827px;
    
    padding: 30px;
  
}
.fw
{
    display: flex;
    justify-content: space-around;
    width: 1190;
    padding: 30px;
    margin-top: 50px;
}
.s-t
{
    font-weight: bold;
    font-size: 20px;
}
.s-d
{
    font-size: 16px;
    max-width: 201px;
    line-height: 28px;
}
.skill-container
{
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(235, 217, 217, 0.66);
    border-radius: 5px;

}
.about-me
{
    max-width: 1140px;
    text-align: center;
    line-height: 30px;
    
}
